
body{
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 10pt;
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 40px;
    width: 100%;
}
.left-navbar {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
    width: 100%;
}
.left-navbar .menu-toggle{
    display: flex;
    align-items: center;
    height: 100%;
}
.left-navbar .links{
    height: 100%;
    display: flex;
    align-items: stretch;
}
.left-navbar a {
    color: #70757a;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.right-navbar {
    display: flex;
    align-items: center;
    height: 100%;
}
.left-navbar a.active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}
button {
    display: flex;
    border-radius: 0 20px 20px 0;
    padding: 0 8px;
    background: transparent;
    border: none;
    outline: none;
}
.google-body{
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 50px auto;
    height: calc(100vh - 48px);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    color: #70757a;
}
.google-body img{
    width: 150px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 95%;
    height: 40px;
    max-width: 736px;
    border-radius: 20px;
    border: 1px solid #dadce0;
}
form input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.languages{
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.languages a{
    color: #4285f4;
    text-decoration: none;
}
.google-footer{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #f2f2f2;
    bottom: 0;
}
.google-footer .country{
    height: 35px;
    border-bottom: 1px solid #dadce0;
}
.google-footer .others{
    height: 60px;
    width: 100vh;
    max-width: 300px;
    text-align: center;
}
.google-footer .others span{
    margin: 20px;
}
@media (min-width: 600px){
    .google-body img{
        width: 300px;
    }
}
